<div class="brand-text">
  Wobb.ai
</div>

<a routerLink="/campaign" routerLinkActive="active">
  <span class="material-icons">
    color_lens
  </span>
  Campaign
</a>

<a routerLink="/discovery" routerLinkActive="active">
  <span class="material-icons">
    explore
  </span>
  Discovery
</a>

<a routerLink="/pixel" routerLinkActive="active">
  <span class="material-icons">
    assessment
  </span>
  Pixel
</a>

<a routerLink="/profile" routerLinkActive="active">
  <span class="material-icons">
    person
  </span>
  Profile
</a>

<a routerLink="/live-support" routerLinkActive="active">
  <span class="material-icons">
    local_phone
  </span>
  Live Support
</a>

<a routerLink="#">
  <span class="material-icons">
    logout
  </span>
  Logout
</a>
