a {
  text-decoration: none;
  padding: 1.5rem 0.5rem 0.4rem 1rem;
  font-size: 1.5rem;
  display: block;
  color:black;
  text-align: center;
}

a:hover, .active {
  color: rgb(124, 6, 235);
  background-color: rgb(194, 147, 221);
  border-right: 3px solid purple;
}

.brand-text {
  color: rgb(124, 6, 235);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

